<h1>Trial two</h1>

<h3>Your second riddle!</h3>

<form class="" action="/riddles2" method="post">
  <h4> <%= @riddle2.question %> </h4>
  <label for="answer"> Enter Answer </label>
  <input type="text" name="answer2">

  <button type="submit" class="btn">Go!</button>

</form>
