<h1>Trial three</h1>

<h3>Your third riddle!</h3>

<form class="" action="/riddles3" method="post">
  <h4> <%= @riddle3.question %> </h4>
  <label for="answer"> Enter Answer </label>
  <input type="text" name="answer3">

  <button type="submit" class="btn">Go!</button>

</form>
