<h1>Trial one</h1>

<h3>Your first riddle!</h3>

<form class="" action="/riddles" method="post">
  <h4> <%= @riddle1.question %> </h4>
  <label for="answer"> Enter Answer </label>
  <input type="text" name="answer1">

  <button type="submit" class="btn">Go!</button>

</form>
